<div style="text-align: center; padding: 10vw;">
  <h1 style="font-weight: bolder; font-size: 31pt;">Administrador de Usuarios</h1>
  <h2>Prueba técnica Desarrollador .Net & Angular</h2>
  <div style="padding: 25px; display: flex; justify-content: center; flex-direction: column;">
    <table class="tabla-usuarios">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Edad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of listaUsuarios">
          <td>{{ usuario.idUsuario }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apPaterno }}</td>
          <td>{{ usuario.apMaterno }}</td>
          <td>{{ usuario.edad }}</td>
        </tr>
      </tbody>
    </table>
    <div style="margin-top: 45px;">
      <mat-tab-group>
        <mat-tab label="Registrar Nuevo"><app-registra-usuarios></app-registra-usuarios></mat-tab>
        <mat-tab label="Editar existente"> <app-editar-usuario></app-editar-usuario> </mat-tab>
        <mat-tab label="Borrar Usuario"> <app-borrar-usuario></app-borrar-usuario> </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>